# Database configuration
POSTGRES_SERVER=db
POSTGRES_USER=modelsentinel
POSTGRES_PASSWORD=modelsentinel_password
POSTGRES_DB=modelsentinel

# Backend configuration
PROJECT_NAME="ModelSentinel API"
API_V1_STR=/api/v1
BACKEND_CORS_ORIGINS=["http://localhost:5173"]
